.label{
    -fx-font-size: 15px;
    -fx-text-align: center;
    
}

.TextField{
    -fx-margin-right: 10px;
}

.GridPane{
    -fx-padding: 20px;
}

.AnchorPane{
    -fx-background-color: red;
}